{% extends 'nector_home/base.html' %}

{% block content %}
<div class="content">
  <h2>Censys</h2>
  <h5><a href='https://www.censys.io/'>From Censys</a></h5>
  Search for Web Server(s):
  <form class="search_host" action="/censys/search/">
    <input type="text" name="input_censys_query" id="input_censys_query" placeholder="192.251.68.0/24"/>
    <input id="btn_search_host" type="submit" value="Search" />
  </form>
  {% if status == '1' %}
    <h3>Rate Limit reached!</h3>
    <h4>Not all results will be shown.<br>
        Try again in 5 minutes, or try narrowing down your query.</h4>
    <!-- <h6><a href="https://censys.io/register">Need a Censys Key?</a></h6> -->
    <br><br>
  {% endif %}
  {% if query %}
  <br>
    <h3>Results for {{query}}:</h3>
  {% endif %}
  {% if ips %}
    {% for ip, proto, title, server, province, city, country, desc, org, name, os, os_desc in zip_data %}
      <div>
        <table>
          <tr>
              <td class="td-content">IP</td>
              <td>{{ip}}</td>
          </tr>
          <tr>
            <td class="td-content">Protocol(s)</td>
            <td>{{proto}}</td>
          </tr>
          <tr>
            <td class="td-content">Title</td>
            <td>{{title}}</td>
          </tr>
          <tr>
            <td class="td-content">Server</td>
            <td>{{server}}</td>
          </tr>
          <tr>
            <td class="td-content">Province</td>
            <td>{{province}}</td>
          </tr>
          <tr>
            <td class="td-content">City</td>
            <td>{{city}}</td>
          </tr>
          <tr>
            <td class="td-content">Country</td>
            <td>{{country}}</td>
          </tr>
          <tr>
            <td class="td-content">Description</td>
            <td>{{desc}}</td>
          </tr>
          <tr>
            <td class="td-content">Organizaiton</td>
            <td>{{org}}</td>
          </tr>
          <tr>
            <td class="td-content">Name</td>
            <td>{{name}}</td>
          </tr>
          <tr>
            <td class="td-content">OS</td>
            <td>{{os}}</td>
          </tr>
          <tr>
            <td class="td-content">OS Description</td>
            <td>{{os_desc}}</td>
          </tr>
        </table>
<!--
        <p>
          IP: {{ip}}<br>
          Protocol(s): {{proto}}<br>
          Title: {{title}}<br>
          Server: {{server}}<br>
          Province: {{province}}<br>
          City: {{city}}<br>
          Country: {{country}}<br>
          Description: {{desc}}<br>
          Organization: {{org}}<br>
          Name: {{name}}<br>
          OS: {{os}}<br>
          OS Description: {{os_desc}}<br>
        </p>
  -->
        <br><br><br>
      </div>
    {% endfor %}
  {% else %}
    {% if status == '0' %}
    <h4>Nothing to show!</h4>
    {% endif %}
  {% endif %}
<br><br>
</div>
{% endblock %}
