{% extends 'nector_home/base.html' %}

{% block content %}
<div class="content">

    <h1>Sc4ns</h1>
    <hr>

    <div class="col-md">
        <h2>Your Saved Scan Types</h2>

        {% if user.is_authenticated %}
            {% if saved_scans %}
                <ul>
                {% for scan in saved_scans %}
                    <li>
                        <form method="post" action="/scans/">{% csrf_token %}
                            <input name="selected_scan_name" value="{{ scan.scan_name }}" type="hidden" />
                            <input name="btn_edit_scan" id="btn_edit_scan" class="btn-scans" type="submit" value="{{ scan.scan_name }} [Edit]" />
                            <ul>
                                <li>
                                    <input name="btn_live_scan" id="btn_live_scan" class="btn-scans" type="submit" value="[Live Scan]" />
                                    <input name="btn_delete_scan" id="btn_delete_scan" class="btn-scans" type="submit" value="[Delete]" />
                                </li>
                            </ul>
                        </form>
                    </li>
                    <br>
                {% endfor %}
                </ul>
            {% else %}
                <p> You don't have any saved scans.</p>
            {% endif %}
        {% else %}
        <a href="/accounts/login/"><p>Please login to use this feature.</p></a>
        {% endif %}

    </div>



    <div class="col-md">
        <form class="custom_scans" action="/scans/" method="post">{% csrf_token %}
            <h2>Custom Scans</h2>

            <table>
                <tr>
                    <td class="td-content-scans">{{ form.scan_name.errors }} {{ form.scan_name.label_tag }} {{ form.scan_name}}</td>
                    <td class="td-content-scans">{{ form.host_address.errors }} {{ form.host_address.label_tag }} {{ form.host_address}}</td>
                    <td class="td-content-scans">{{ form.ports.errors }} {{ form.ports.label_tag }} {{ form.ports}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                    {{ form.scan_options.errors }}
                    {{ form.scan_options.label_tag }}
                    {{ form.scan_options }}
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td class="td-content-scans-btn-generate"><input name="live_scan" type="submit" value="Perform Live Scan" /></td>

                    {% if msg %}
                    <td>{{ msg }}</td>
                    {% else %}
                    <td></td>
                    {% endif %}

                    {% if user.is_authenticated %}
                    <td class="td-content-scans-btn-export"><input name="save_scan" type="submit" value="Save Scan Type" /></td>
                    {% else %}
                    <td></td>
                    {% endif %}
                </tr>
            </table>

        </form>

        {% if nmap_output %}
        <div>
            <h2>Live Scan Results</h2>
            {% for out in nmap_output %}
            <p>{{ out }}</p>
            {% endfor %}
        </div>
        {% endif %}

    </div>



</div>
{% endblock %}
