{% extends 'nector_home/base.html' %}

{% block content %}

{% if form.errors %}
    <p class="error">Sorry, invalid username or password.</p>
{% endif %}

<center>
<h1>Login</h1>
<hr><br>
<form action="/accounts/auth/" method="post">{% csrf_token %}
    <table>
        <tr>
            <td class="td-content-login">
                <label for="username">Username:</label>
            </td>
            <td class="td-content-login">
                <input type="text" placeholder="Enter Your Username" name="username" value="" id="username" />
            </td>
        </tr>
        <tr>
            <td class="td-content-login">
                <label for="password">Password:</label>
            </td>
            <td class="td-content-login">
                <input type="password" placeholder="Enter Your Password" name="password" value="" id="password" />
            </td>
        </tr>
    </table>
    <br>

    <input type="submit" value="Login" />

    <input type="hidden" name="next" value="{{ next }}" />
</form>

<p><a href="/accounts/register/">Register for an account.</a></p>
</center>

{% endblock %}
