{% extends 'nector_home/base.html' %}

{% block content %}

<center>
<h1>Register</h1>
<hr>
<form action="/accounts/register/" method="post">{% csrf_token %}
    <br>

    <table>
      <tr>
        <td class="td-content-register">
            <label for="{{ form.username.id_for_label }}">
                {{ form.username.label_tag }}
            </label>
        </td>
        <td class="td-content-register">
            {{ form.username }}
            <span class="error-text">{{ form.username.errors }}</span>
        </td>
      </tr>
      <tr>
        <td class="td-content-register">
            <label for="{{ form.password1.id_for_label }}">
                {{ form.password1.label_tag }}
            </label>
        </td>
        <td class="td-content-register">
            {{ form.password1 }}
            <span class="error-text">{{ form.password1.errors }}</span>
        </td>
      </tr>
      <tr>
        <td class="td-content-register">
            <label for="{{ form.password2.id_for_label }}">
                {{ form.password2.label_tag }}
            </label>
        </td>
        <td class="td-content-register">
            {{ form.password2 }}
            <span class="error-text">{{ form.password2.errors }}</span>
        </td>
      </tr>
    </table>
    <br><br>

    <b>Note</b>: For security reasons, please ensure your password adheres to the following guidelines:
        <ol>
            <li>Bears no resemblance to username.</li>
            <li>Is at least 8 characters long.</li>
            <li>Is not a common word.</li>
            <li>Is not entirely numeric.</li>
    </ol>

    <input type="submit" value="Register" />
</form>
<br>
</center>

{% endblock %}
