{% extends 'nector_home/base.html' %}
{% load render_table from django_tables2 %}

{% block content %}
<div class="content">


{% if host_list %}
  <h1>Hosts on {{ subnet.ipv4_address }}{{ subnet.suffix }}</h1>
  <div style="float:right">
    <form method="GET" action="/hosts/{{ subnet_id }}/">
      <select name="select_hosts">
        {% if limit == 'named' %}
        <option value="named" selected="selected">Named Hosts</option>
        <option value="unnamed">Unnamed Hosts</option>
        <option value="all">All Hosts</option>
        {% elif limit == 'unnamed' %}
        <option value="named">Named Hosts</option>
        <option value="unnamed" selected="selected">Unnamed Hosts</option>
        <option value="all">All Hosts</option>
        {% else %}
        <option value="named">Named Hosts</option>
        <option value="unnamed">Unnamed Hosts</option>
        <option value="all" selected="selected">All Hosts</option>
        {% endif %}
      </select>
      <input type="submit" value="View"/>
    </form>
  </div>

  {% render_table hosts_table %}

{% else %}
    <p>No hosts are available.</p>
{% endif %}
</div>
{% endblock %}
