{% extends 'nector_home/base.html' %}

{% block content %}
<div class="content">
{% if host_list %}
  <h2>Hosts</h2>
  <div style="float:right">
    <form method="GET" action="/hosts/limit-hosts/{{ subnet_id }}">
      <select name="select_hosts">
        {% if limit == 'online' %}
        <option value="online" selected="selected">Online Hosts</option>
        <option value="offline">Offline Hosts</option>
        <option value="all">All Hosts</option>
        {% elif limit == 'offline' %}
        <option value="online">Online Hosts</option>
        <option value="offline" selected="selected">Offline Hosts</option>
        <option value="all">All Hosts</option>
        {% else %}
        <option value="online">Online Hosts</option>
        <option value="offline">Offline Hosts</option>
        <option value="all" selected="selected">All Hosts</option>
        {% endif %}
      </select>
      <input type="submit" value="View"/>
    </form>
  </div>

    <ul>
    {% for host in host_list %}
        {% if limit == 'online' %}
          {% if host.host_name %}
          <li><a href="/hosts/{{ subnet_id }}/host/{{ host.id }}">{{ host.ipv4_address }}, {{ host.host_name }}</a></li>
          {% endif %}
        {% elif limit == 'offline' %}
          {% if not host.host_name %}
          <li><a href="/hosts/{{ subnet_id }}/host/{{ host.id }}">{{ host.ipv4_address }}</a></li>
          {% endif %}
        {% elif limit == 'all' %}
          {% if host.host_name %}
            <li><a href="/hosts/{{ subnet_id }}/host/{{ host.id }}">{{ host.ipv4_address }}, {{ host.host_name }}</a></li>
          {% else %}
            <li><a href="/hosts/{{ subnet_id }}/host/{{ host.id }}">{{ host.ipv4_address }}</a></li>
          {% endif %}
        {% endif %}
    {% endfor %}
    </ul>
{% else %}
    <p>No hosts are available.</p>
{% endif %}
</div>
{% endblock %}
