{% extends 'nector_home/base.html' %}

{% block content %}
<div class="content">
{% if host_list %}
  <h1>Hosts on {{ subnet.ipv4_address }}{{ subnet.suffix }}</h1>
  <div style="float:right">
    <form method="GET" action="/hosts/limit-hosts/{{ subnet_id }}">
      <select name="select_hosts">
        {% if limit == 'named' %}
        <option value="named" selected="selected">Named Hosts</option>
        <option value="unnamed">Unnamed Hosts</option>
        <option value="all">All Hosts</option>
        {% elif limit == 'unnamed' %}
        <option value="named">Named Hosts</option>
        <option value="unnamed" selected="selected">Unnamed Hosts</option>
        <option value="all">All Hosts</option>
        {% else %}
        <option value="named">Named Hosts</option>
        <option value="unnamed">Unnamed Hosts</option>
        <option value="all" selected="selected">All Hosts</option>
        {% endif %}
      </select>
      <input type="submit" value="View"/>
    </form>
  </div>

    <table>
        <tr>
            {% if limit == 'named' %}
                <td class="td-content">IP Address</td>
                <td class="td-content">Host Name</td>
                <td class="td-content">No. Open Ports</td>
            {% elif limit == 'unnamed' %}
                <td class="td-content">IP Address</td>
            {% elif limit == 'all' %}
                <td class="td-content">IP Address</td>
                <td class="td-content">Host Name</td>
                <td class="td-content">No. Open Ports</td>
            {% endif %}
        </tr>
    {% for host in host_list %}

        {% if limit == 'named' %}
          {% if host.host_name %}
          <tr>
          <td class="td-content"><a href="/hosts/{{ subnet_id }}/host/{{ host.id }}">{{ host.ipv4_address }}</a></td>
          <td class="td-content"><a href="/hosts/{{ subnet_id }}/host/{{ host.id }}">{{ host.host_name }}</a></td>
          <td class="td-content">{{ host.num_open_ports }}</td>
          </tr>
          {% endif %}
        {% elif limit == 'unnamed' %}
          {% if not host.host_name %}
          <tr>
          <td class="td-content"><a href="/hosts/{{ subnet_id }}/host/{{ host.id }}">{{ host.ipv4_address }}</a></td>
          </tr>
          {% endif %}
        {% elif limit == 'all' %}
          {% if host.host_name %}
            <tr>
            <td class="td-content"><a href="/hosts/{{ subnet_id }}/host/{{ host.id }}">{{ host.ipv4_address }}</a></td>
            <td class="td-content"><a href="/hosts/{{ subnet_id }}/host/{{ host.id }}">{{ host.host_name }}</a></td>
            <td class="td-content">{{ host.num_open_ports }}</td>
            </tr>
          {% else %}
            <tr>
            <td class="td-content"><a href="/hosts/{{ subnet_id }}/host/{{ host.id }}">{{ host.ipv4_address }}</a></td>
            </tr>
          {% endif %}

        {% endif %}

    {% endfor %}
    </table>
{% else %}
    <p>No hosts are available.</p>
{% endif %}
</div>
{% endblock %}
