{% extends 'nector_home/base.html' %}

{% block content %}
<div class="content">
{% if host %}
    <h1>Host Information</h1>
    <form action="/hosts/edit/" method="post">{% csrf_token %}
        <input name="host" type="hidden" value="{{host.ipv4_address}}" />
        <input id="edit" type="submit" value="Edit Host" />
    </form>
    <h4 style="padding-left:10px">IPv4</h4>
    <p style="padding-left:20px"> {{host.ipv4_address}} </p>
    <h4 style="padding-left:10px">Host Name</h4>
    <p style="padding-left:20px"><a href="http://{{host.host_name}}">{{host.host_name}}</a></p>
    {% if port_data %}
    <h4 style="padding-left:10px">Ports</h4>
    <table style="margin-left:20px">
        <tr><td class="td-content">Port</td><td class="td-content">Status</td><td class="td-content">Info</td><td class="td-content">Date Last Changed</td></tr>
        {% for port, status, info, date in port_data %}
            <tr><td>{{port}}</td><td>{{status}}</td><td>{{info}}</td><td>{{date}}</td></tr>
        {% endfor %}
    </table>
    {% endif %}
    <h4 style="padding-left:10px">OS</h4>
    <p style="padding-left:20px"> {{host.os}} </p>
    <h4 style="padding-left:10px">LSP</h4>
    <p style="padding-left:20px"> {{host.lsp}} </p>
    <h4 style="padding-left:10px">Host Groups</h4>
    <p style="padding-left:20px"> {{host.host_groups}} </p>
    <h4 style="padding-left:10px">Location</h4>
    <p style="padding-left:20px"> {{host.location}} </p>
    <h4 style="padding-left:10px">Tags</h4>
    <p style="padding-left:20px"> {{host.tags}} </p>
    <h4 style="padding-left:10px">Notes</h4>
    <p style="padding-left:20px"> {{host.notes}} </p>
    <h4 style="padding-left:10px">Status</h4>
    {% if ping_status %}
        <p style="margin-left:20px"> {{ ping_status }} </p>
    {% else %}
    <form action="/hosts/ping/" method="post">{% csrf_token %}
        <input name="host" type="hidden" value="{{host.ipv4_address}}" />
        <input type="submit" style="margin-left:20px" value="Ping" />
    </form>
    {% endif %}

    {% if vuln_list %}
    <h4 style="padding-left:10px">Vulnerabilities</h4>
    <table style="margin-left:20px">
        <tr><td class="td-content">Plugin ID</td><td class="td-content">Plugin Name</td><td class="td-content">Severity</td><td class="td-content">IPv4</td><td class="td-content">Host Name</td></tr>
      {% for vuln in vuln_list %}
        <tr><td>{{vuln.plugin_id}}</td><td>{{vuln.plugin_name}}</td><td>{{vuln.severity}}</td><td>{{ vuln.ipv4_address }}</td><td>{{ vuln.host_name }}</td></tr>
      {% endfor %}
    </table>
    {% endif %}
{% else %}
    <p>No hosts are available.</p>
{% endif %}
</div>
{% endblock %}
