{% extends 'nector_home/base.html' %}

{% block content %}
<div class="content">
{% if host %}
    <h2>Host Information</h2>
    <h4 style="padding-left:10px">IPv4</h4>
    <p style="padding-left:20px"> {{host.ipv4_address}} </p>
    <h4 style="padding-left:10px">Host Name</h4>
    <p style="padding-left:20px"> {{host.host_name}} </p>
    <h4 style="padding-left:10px">OS</h4>
    <p style="padding-left:20px"> {{host.os}} </p>
    <h4 style="padding-left:10px">LSP</h4>
    <p style="padding-left:20px"> {{host.lsp}} </p>
    <h4 style="padding-left:10px">Host Groups</h4>
    <p style="padding-left:20px"> {{host.host_groups}} </p>
    <h4 style="padding-left:10px">Location</h4>
    <p style="padding-left:20px"> {{host.location}} </p>
    <h4 style="padding-left:10px">Tags</h4>
    <p style="padding-left:20px"> {{host.tags}} </p>
{% else %}
    <p>No hosts are available.</p>
{% endif %}
</div>
{% endblock %}
