{% extends 'nector_home/base.html' %}

{% block content %}
<div class="content">
    <h1>Host Information</h1>
    <h3>Editing: {{ host.ipv4_address }}</h3>

    {% if not host %}
    <p>No host selected!</p>
    {% endif %}

    {% if host %}
    <form action="/hosts/edit/" method="post">{% csrf_token %}
        <input type="hidden" name="update_form" />
        <table>
            <tr>
                <td class="td-content-edit-hosts">
                    {{ form.host_name.errors }} {{ form.host_name.label_tag }} {{ form.host_name}}
                </td>
            </tr>
            <tr>
                <td class="td-content-edit-hosts">
                    {{ form.os.errors }} {{ form.os.label_tag }} {{ form.os}}
                </td>
            </tr>
            <tr>
                <td class="td-content-edit-hosts">
                    {{ form.host_groups.errors }} {{ form.host_groups.label_tag }} {{ form.host_groups}}
                </td>
            </tr>
            <tr>
                <td class="td-content-edit-hosts">
                    {{ form.location.errors }} {{ form.location.label_tag }} {{ form.location}}
                </td>
            </tr>
            <tr>
                <td class="td-content-edit-hosts">
                    {{ form.tags.errors }} {{ form.tags.label_tag }} {{ form.tags}}
                </td>
            </tr>
            <tr>
                <td class="td-content-edit-hosts">
                    {{ form.notes.errors }} {{ form.notes.label_tag }} {{ form.notes}}
                </td>
            </tr>
            <tr>
                <td class="td-content-edit-hosts-status">
                    {{ form.status.errors }} {{ form.status.label_tag }} {{ form.status }}
                </td>
            </tr>
        </table>
        <br>
        <input type="submit" name="submit" value="Save">
        <a href="/hosts/"><input style="margin-left:140px" type="button" value="Cancel" /></a>
    </form>
    {% endif %}
</div>
{% endblock %}
