{% extends 'nector_home/base.html' %}

{% block content %}
<div class="content">

<div class="col-left">
<h1>SubNeTs</h1>
{% if subnet_list %}
{% for narrowed_subnet in narrowed_subnet_dict %}
    <h2>{{ narrowed_subnet }}.x.x</h2>
    <table>
    <tr>
    {% for k, v in narrowed_subnet_dict.items %}
        {% if narrowed_subnet in k %}
          {% for s in v %}
            <td class="td-content"><a href="/hosts/{{ s.id }}/">{{ s.ipv4_address }}{{ s.suffix }}</a></td>
            {% if forloop.counter|divisibleby:3 %}
                </tr>
                <tr>
            {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
    </tr>
    </table>
{% endfor %}
{% else %}
    <p>No subnets are available.</p>
{% endif %}
</div>

<div class="col-mid">
    <h1>Fr3qUeNt1y ViSIt3d H05Ts</h1>
    {% if frequent_host_list %}
        <ol>
        {% for host in frequent_host_list %}
            <li><a href="/hosts/{{host.subnet_id}}/host/{{host.id}}">{{host.ipv4_address}}, {{host.host_name}}</li></a>
        {% endfor %}
        </ol>
    {% elif user.is_authenticated %}
        <p>No hosts to show!</p>
    {% else %}
        <a href="/accounts/login/"><p>Please login to use this feature.</p></a>
    {% endif %}

    <h1>NewEsT A13rTs</h1>
    {% if newest_alerts_list %}
        <ul>
            {% for alert in newest_alerts_list %}
            <li><a href="/hosts/{{alert.host.subnet_id}}/host/{{alert.host.id}}">{{alert}}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No alerts to show!</p>
    {% endif %}
</div>

<div class="col-right">
    <h1>H0sTs oN LSP</h1>
    {% if hosts_lsp_list %}
    <ul>
        {% for host in hosts_lsp_list %}
        <li>host</li>
        {% endfor %}
    </ul>
    {% elif user.is_authenticated %}
        <p>No hosts to show!</p>
    {% else %}
        <a href="/accounts/login/"><p>Please login to use this feature.</p></a>
    {% endif %}
</div>




</div>
{% endblock %}
