{% extends 'nector_home/base.html' %}

{% block content %}
<div class="content">

<h1>P0rt5</h1>
<hr>

<h3>Find hosts with:</h3>

{% if host_list %}
<div style="float:right; padding-right:7%">
{% else %}
<div style="float:left">
{% endif %}

<form method="post" action="/hosts/ports/">{% csrf_token %}
<table>
    <tr>
        <td class="td-content-scans">
            Open Port Number:
            <input type="text" name="port_nums" placeholder="80" value="{{ request.POST.port_nums }}"/>
        </td>
    </tr>
    <!--
    <tr>
        <td class="td-content-scans">
            Open Port Service:
            <input type="text" name="port_servs" placeholder="Apache" value="{{ request.POST.port_servs }}"/>
        </td>
    </tr>
    <tr>
        <td class="td-content-scans">
            Port Opened On:
            <input type="text" name="port_dates" placeholder="YYMMDD" value="{{ request.POST.port_dates }}"/>
        </td>
    </tr>
    -->
    <tr>
        <td>
            <input type="submit" value="Search" />
        </td>
    </tr>
</table>
</form>

</div>


{% if host_list %}
<div style="float:left">
<table>
    <tr>
        <td class="td-content">IPv4</td>
        <td class="td-content">Host Name</td>
        <td class="td-content">Open Port(s)</td>
  </tr>
  {% for host in host_list %}
    <tr>

            <td class="td-content"><a href="/hosts/search/?input_ip={{host.ipv4_address}}">
                {{host.ipv4_address}}
            </a></td>

            <td class="td-content"><a href="/hosts/search/?input_ip={{host.ipv4_address}}">
                {{host.host_name}}
            </a></td>

            <td class="td-content">{{host.open_ports}}</td>

    </tr>

  {% endfor %}

</table>
</div>
{% endif %}



</div>
{% endblock %}
