{% extends 'nector_home/base.html' %}

{% block content %}
<div class="content">
<h1>What is NECTOR?</h1>
<p>
NECTOR is an open source successor to the HECTOR project, both of which have
been sponsored by the University of Pennsylvania School of Arts and Sciences.
NECTOR is a powerful and expandable framework used in the collection, analysis,
and sharing of security intelligence information.
</p>
<p>
NECTOR takes advantage of the functionality and stability of the Django
framework, and incorporates a customizable database backend with a minimalistic
frontend. The project is being developed without the use of JavaScript.
</p>
<p>
NECTOR's intuitive web-based frontend allows for easy data analysis, scan
configuration, incident reporting, open source intelligence, and more.
</p>
</div>
{% endblock %}
