{% load staticfiles %}
<!DOCTYPE html>

<!--

███╗   ██╗███████╗ ██████╗████████╗ ██████╗ ██████╗
████╗  ██║██╔════╝██╔════╝╚══██╔══╝██╔═══██╗██╔══██╗
██╔██╗ ██║█████╗  ██║        ██║   ██║   ██║██████╔╝
██║╚██╗██║██╔══╝  ██║        ██║   ██║   ██║██╔══██╗
██║ ╚████║███████╗╚██████╗   ██║   ╚██████╔╝██║  ██║
╚═╝  ╚═══╝╚══════╝ ╚═════╝   ╚═╝    ╚═════╝ ╚═╝  ╚═╝

    ~~ The Next Hector ~~

 _  _ ___ ___ _____ ___  ___
| \| | __/ __|_   _/ _ \| _ \
| .` | _| (__  | || (_) |   /
|_|\_|___\___| |_| \___/|_|_\

-->

<html>
<head>
<title>NECTOR - by haX0rs, for haX0rs</title>
<meta http-equiv="content-type" content="text/html;charset=UTF-8">
<link rel="stylesheet" href="{% static 'main.css' %}">
<!-- Favicon -->
{% include 'nector_home/favicon.html' %}
</head>

<body>
<!-- Header -->
<div class="header">
<form class="ip-textbox" action="/hosts/search/">
<p class="search">Host/Subnet Address
    <input id="input_ip" name="input_ip" type="text" placeholder="192.251.68.240" />
    <input id="btn_ip" type="submit" value="Search" />
</p>
</form>


<pre width="75%">
<a href="/" class="logo-link">
  ███╗   ██╗███████╗ ██████╗████████╗ ██████╗ ██████╗
  ████╗  ██║██╔════╝██╔════╝╚══██╔══╝██╔═══██╗██╔══██╗
  ██╔██╗ ██║█████╗  ██║        ██║   ██║   ██║██████╔╝
  ██║╚██╗██║██╔══╝  ██║        ██║   ██║   ██║██╔══██╗
  ██║ ╚████║███████╗╚██████╗   ██║   ╚██████╔╝██║  ██║
  ╚═╝  ╚═══╝╚══════╝ ╚═════╝   ╚═╝    ╚═════╝ ╚═╝  ╚═╝

       ~~ The Next Hector ~~
</a>
</pre>

</div>
{% include 'nector_home/navmenu.html' %}
{% include 'nector_home/wire.html' %}

<!-- Content -->
{% block content %}
{% endblock %}

<!-- Footer -->
{% include 'nector_home/wire.html' %}
{% include 'nector_home/navmenu.html' %}
<div class="footer">
&#9400 2017 University of Pennsylvania | School of Arts & Sciences
</div>

</body>
</html>
