{% load staticfiles %}

<!--

███╗   ██╗███████╗ ██████╗████████╗ ██████╗ ██████╗
████╗  ██║██╔════╝██╔════╝╚══██╔══╝██╔═══██╗██╔══██╗
██╔██╗ ██║█████╗  ██║        ██║   ██║   ██║██████╔╝
██║╚██╗██║██╔══╝  ██║        ██║   ██║   ██║██╔══██╗
██║ ╚████║███████╗╚██████╗   ██║   ╚██████╔╝██║  ██║
╚═╝  ╚═══╝╚══════╝ ╚═════╝   ╚═╝    ╚═════╝ ╚═╝  ╚═╝

    ~~ The Next Hector ~~

 _  _ ___ ___ _____ ___  ___
| \| | __/ __|_   _/ _ \| _ \
| .` | _| (__  | || (_) |   /
|_|\_|___\___| |_| \___/|_|_\

-->

<!DOCTYPE html>
<html>
<head>
    <title>NECTOR - by haX0rs, for haX0rs</title>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
  <!-- Header -->
  <div class="header">
      <form class="ip-textbox" action="/hosts/search/">
    IP: <input id="input_ip" name="input_ip" type="text" placeholder="192.251.68.240" /><input id="btn_ip" type="submit" value="Search" />
  </form>

    <pre width="75%">
  ███╗   ██╗███████╗ ██████╗████████╗ ██████╗ ██████╗
  ████╗  ██║██╔════╝██╔════╝╚══██╔══╝██╔═══██╗██╔══██╗
  ██╔██╗ ██║█████╗  ██║        ██║   ██║   ██║██████╔╝
  ██║╚██╗██║██╔══╝  ██║        ██║   ██║   ██║██╔══██╗
  ██║ ╚████║███████╗╚██████╗   ██║   ╚██████╔╝██║  ██║
  ╚═╝  ╚═══╝╚══════╝ ╚═════╝   ╚═╝    ╚═════╝ ╚═╝  ╚═╝

        ~~ The Next Hector ~~
    </pre>

  <br><br><br>
  <!-- Header -->
      <table class="header-table">
      <tr>
          <td><a href="/">H 0 M 3</a></td>
          <td><a href="/hosts/">SubNet$</a></td>
          <td>0SINT</td>
          <td>Det3cTi0n</td>
          <td>Even7s</td>
          <td>Rep0rt$</td>
          <td></td>
      </tr>
    </table>

  </div>

  <!-- Content -->

  <!-- Load app here -->
  {% block content %}
  {% endblock %}
  <!-- / -->

  <!-- Footer -->
  <br>
    <p class="footer">&#9400 2017 University of Pennsylvania | School of Arts & Sciences</p>
</body>
</html>
