{% extends 'nector_home/base.html' %}

{% block content %}
<div class="content">
<h2>
What is NECTOR?
</h2>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
convallis bibendum neque non sagittis. Donec sed fermentum nisi, a
ornare dui. Proin nec ex vitae nibh vestibulum blandit non vel nisi.
Proin quis magna non leo fringilla eleifend. Nullam fermentum, dolor
id mollis commodo, felis est convallis velit, et euismod massa ligula
vitae lectus. Phasellus ornare velit accumsan dolor auctor consequat.
Suspendisse maximus facilisis maximus. Ut et est laoreet, condimentum
nibh ut, fermentum nulla. Etiam et diam vel augue tincidunt consequat.
Vivamus vel ipsum id turpis porta luctus vel quis tortor. Lorem ipsum
dolor sit amet, consectetur adipiscing elit. Aliquam hendrerit rutrum
aliquet. Fusce rutrum sagittis diam, quis tempor felis dictum eget.
Cras feugiat luctus tortor sed ornare.
</p>
</div>
{% endblock %}
