{% extends 'nector_home/base.html' %}

{% block content %}
<div class="content">

{% if installation_complete %}
<h1>NECTOR Installation Status: <span style="color:green">Complete</span></h1>
{% else %}
<h1>NECTOR Installation Status: <span style="color:lightcoral">Incomplete</span></h1>
{% endif %}

{% if sup_hosts %}
<div style="float:right; margin-right:10%">
<h2>Hosts Setup</h2>
{% if subnets_installed %}
<p>An <a href="https://nmap.org/download.html">nmap</a> scan is required to obtain host info from <i>subnets.txt</i>.<br>
    Please ensure you have nmap installed before proceeding.</p>
<a href="/status/nmap-hosts/">Click here to run an nmap scan on the provided IP address.</a>
<p>Note: This may take a while! Please remain on this page until it is complete.</p>

<br><br>
<b>- OR -</b>
<br><br>
<p>Upload a file containing your Hosts.<br>
   Follow the formatting of <i>sample-data/sample-hosts.xml</i>.</p>
   If you have Nmap, you can manually generate this file by running the following command:</p>
   <ol>
       <li><i>nmap -sL -iL subnets.txt -oN hosts.xml</i></li>
   </ol>
   <br>
<form action="/status/submit-hosts/" method="post" enctype="multipart/form-data">{% csrf_token %}
    <input type="file" name="hosts_file">
    <br><br><input type="submit" value="Upload">
</form>
{% else %}
<p>Enter a list of subnets or individual IP addresses.<br> Separate each with a newline.</p>
<form action="/status/submit-subnets/" method="post">{% csrf_token %}
    <textarea name="subnet_ips" style="font-size:18px" rows="15" cols="30"
    placeholder="0.0.2.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0.0.1.10-254&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0.0.0.0/24"></textarea>
    <br><br><input type="submit" value="Submit">
</form>

<br><br>
<b>- OR -</b>
<br><br>
<p>Upload a file containing a list of subnets / IP addresses.<br>
    Adhere to the above formatting rules.</p>
<form action="/status/submit-subnets/" method="post" enctype="multipart/form-data">{% csrf_token %}
    <input type="file" name="subnet_file">
    <br><br><input type="submit" value="Upload">
</form>

{% endif %}
</div>
{% endif %}

{% if sup_ports %}
<div style="float:right; margin-right:6%">
<h2>Ports Setup</h2>
{% if subnets_installed %}
<p>An <a href="https://nmap.org/download.html">nmap</a> scan is required to obtain port info from <i>subnets.txt</i>.<br>
    Please ensure you have nmap installed before proceeding.</p>
<a href="/status/nmap-ports/">Click here to run an nmap scan on the provided IP address.</a>
<p>Note: This may take a while! Please remain on this page until it is complete.</p>
<br><br>
<b>- OR -</b>
<br><br>
<p>Upload a file containing your Ports.<br>
   Follow the formatting of <i>sample-data/sample-openports.xml</i>.<br>
   If you have Nmap, you can manually generate this file by running the following command:</p>
   <ol>
       <li><i>nmap -Pn -sV --version-light -vv -T5 \<br> -p17,19,21,22,23,25,53,80,123,137,139,153,161,443,445,\<br>548,636,1194,1337,1900,3306,3389,4380,4444,\<br>4672,5353,5900,6000,6881,8000,8080,9050,31337 \ <br> -iL subnets.txt --open -oX openports.xml 2>&1 > /dev/null</i></li>
   </ol>
   <br>
<form action="/status/submit-ports/" method="post" enctype="multipart/form-data">{% csrf_token %}
    <input type="file" name="ports_file">
    <br><br><input type="submit" value="Upload">
</form>
{% else %}
<p>Enter a list of subnets or individual IP addresses.<br> Separate each with a newline.</p>
<form action="/status/submit-subnets/" method="post">{% csrf_token %}
    <textarea name="subnet_ips" style="font-size:18px" rows="15" cols="30" placeholder="0.0.2.3                                  0.0.1.10-254                                  0.0.0.0/24"></textarea>
    <br><br><input type="submit" value="Submit">
</form>

<br><br>
<b>- OR -</b>
<br><br>
<p>Upload a file containing a list of subnets / IP addresses.<br>
    Adhere to the above formatting rules.</p>
<form action="/status/submit-subnets/" method="post" enctype="multipart/form-data">{% csrf_token %}
    <input type="file" name="subnet_file">
    <br><br><input type="submit" value="Upload">
</form>

{% endif %}
</div>
{% endif %}

{% if sup_events %}
<div style="float:right; margin-right:0%">
<h2>Events Setup</h2>

<p>Enter the following info for your Events:</p><br>
<b>
<p>Request Num&nbsp;Date Submitted&nbsp;&nbsp;&nbsp;Title&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Status
    &nbsp;&nbsp;&nbsp;Last Edit Date&nbsp;&nbsp;&nbsp;Submitted By
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Assignees</p>
</b>
<form name="event_form" action="/status/submit-events/" method="post">{% csrf_token %}
    {{ events_form.management_form }}
    {% for event_form in events_form %}
    {{event_form}}<br><br>
    {% endfor %}
    <input type="hidden" name="num_extra_forms" value={{extra_forms}}>
    <br><button type="submit" name="add-additional-event" class="btn-link"><u>[Add another Event]</u></button>
    <br><br><br><input type="submit" value="Submit">
</form>

<br><br>
<b>- OR -</b>
<br><br>
<p>Upload a file containing your Events.<br>
   Follow the formatting of <i>sample-data/sample-events.csv</i>.</p>
<form action="/status/submit-events/" method="post" enctype="multipart/form-data">{% csrf_token %}
    <input type="file" name="event_file">
    <br><br><input type="submit" value="Upload">
</form>

</div>
{% endif %}

{% if sup_vulns %}
<div style="float:right; margin-right:8%">
<h2>Vulnerabilities Setup</h2>

<p>Enter the following info for your Vulnerabilities:</p><br>
<b>
<p>Plugin ID&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Plugin Name&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;Severity&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    IPv4 Address&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Host Name</p>
</b>
<form name="vuln_form" action="/status/submit-vulns/" method="post">{% csrf_token %}
    {{ vulns_form.management_form }}
    {% for vuln_form in vulns_form %}
    {{vuln_form}}<br><br>
    {% endfor %}
    <input type="hidden" name="num_extra_forms" value={{extra_forms}}>
    <br><button type="submit" name="add-additional-event" class="btn-link"><u>[Add another Vulnerability]</u></button>
    <br><br><br><input type="submit" value="Submit">
</form>

<br><br>
<b>- OR -</b>
<br><br>
<p>Upload a file containing your Vulnerabilities.<br>
   Follow the formatting of <i>sample-data/sample-vulnlist.csv</i>.<br>
   If you have Nessus, you can easily generate this file by doing the following:</p>
   <ol>
       <li>Go into Nessus.</li>
       <li>Under the <i>Analysis</i> dropdown, select <i>Vulnerabilities.</i></li>
       <li>From the new dropdown box in the top left corner, select <i>Vulnerability List.</i></li>
       <li>In the top right corner, click on the <i>Options</i> dropdown, and select <i>Export as CSV.</i></li>
       <li>Make sure only 'Plugin ID', 'Plugin Name', 'Severity', 'IP Address', and 'DNS Name' are selected.</li>
       <li>Click submit, save the file, and upload it here.</li>
   </ol>
   <br>
<form action="/status/submit-vulns/" method="post" enctype="multipart/form-data">{% csrf_token %}
    <input type="file" name="vuln_file">
    <br><br><input type="submit" value="Upload">
</form>

</div>
{% endif %}

{% if sup_malware %}
<div style="float:right; margin-right:5%">
<h2>Malware Alerts Setup</h2>

<p>Enter the following info for your Malware Alerts:</p><br>
<b>
<p>Alert ID&nbsp;&nbsp;&nbsp;Alert Type&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;File Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;
    Computer&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;IPv4 Address&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Contact Group&nbsp;&nbsp;&nbsp;&nbsp;Virus&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Action Taken&nbsp;&nbsp;&nbsp;
    Comment</p>
</b>
<form name="malware_form" action="/status/submit-malware/" method="post">{% csrf_token %}
    {{ mals_form.management_form }}
    {% for mal_form in mals_form %}
    {{mal_form}}<br><br>
    {% endfor %}
    <input type="hidden" name="num_extra_forms" value={{extra_forms}}>
    <br><button type="submit" name="add-additional-event" class="btn-link"><u>[Add another Malware Alert]</u></button>
    <br><br><br><input type="submit" value="Submit">
</form>

<br><br>
<b>- OR -</b>
<br><br>
<p>Upload a file containing your Malware Alerts.<br>
   Follow the formatting of <i>sample-data/sample-malware.csv</i>.<br>
   If you have use Symantec Endpoint Protection (SEP) Alerts, you can easily
   generate this file by doing the following:</p>
   <ol>
       <li>todo</li>
   </ol>
   <br>
<form action="/status/submit-malware/" method="post" enctype="multipart/form-data">{% csrf_token %}
    <input type="file" name="malware_file">
    <br><br><input type="submit" value="Upload">
</form>
<br><br>
<br><br>
</div>
{% endif %}


{% if not sup_hosts and not sup_ports and not sup_events and not sup_vulns and not sup_malware and not changing_db %}
<div style="float:right; margin-right:12%">
<h2>Info</h2>
<p>This page is used for setting up NECTOR through the browser.<br>
    If you would rather do so via terminal, please see the "Manual Setup" section
    in <i>INSTALL.txt</i></p>
<h2>Setup Process</h2>
<ol>
    <li>Change your <i>Database</i> (Optional).</li>
        <ul>
            <li>The database is where all your information will be stored.</li>
            <li>There are three you can choose from: SQLite, MySQL, and PostgreSQL.</li>
            <li>SQLite is default, and requires no further setup.</li>
        </ul>
    <li>Import your <i>Hosts</i>.</li>
        <ul>
            <li>Hosts are the computers you will be managing and auditing.</li>
            <li>You will be prompted to provide the IP addresses of the hosts or subnets<br> of hosts you want to bring into NECTOR.</li>
            <li>Afterward, NECTOR will perform an nmap scan on those IP addresses to get<br> their current statuses.</li>
        </ul>
    <li>Import the <i>Open Ports</i> of your Hosts.</li>
        <ul>
            <li>Open Ports are commonly used as attack vectors, so it's important NECTOR<br> knows them since they pose as risks.</li>
            <li>NECTOR will perform an nmap scan on all of your hosts to get their open<br> ports.</li>
            <li>You must have Hosts set up (step 2) to do this.</li>
        </ul>
    <li>Import your <i>Events</i>.</li>
        <ul>
            <li>Events are used to notify the user when there is an observed change to<br> the normal behavior of a system, environment, process, workflow, or person.</li>
            <li>You will be prompted for information on your Events.</li>
        </ul>
    <li>Import your <i>Vulnerabilities</i>.</li>
        <ul>
            <li>Vulnerability information is used to notify the user when a Host features<br> an exploitable flaw.</li>
            <li>You will be prompted for information on your Vulnerabilities.</li>
        </ul>
    <li>Import your <i>Malware</i>.</li>
        <ul>
            <li>Malware information is used to notify the user and keep track of when a<br> Host has been infected.</li>
            <li>You will be prompted for information on your Malware.</li>
        </ul>
</ol>
</div>
{% endif %}

{% if changing_db %}
<div style="float:right; margin-right:12%">
<h2>Switching to a new Database</h2>
<p><a href="/status/">
    Click here to go back.</a></p>
<p>See the "Advanced Setup" section of <i>INSTALL.txt</i> for more info.</p>
<p>
NECTOR is configured to work with three types of RDBMSs easily: SQLite3, MySQL, and PostgreSQL.
</p>
<p>
SQLite3 is light-weight, server-less, and requires practically no configuration. However, a
<br>SQLite3 database stores its information in a single binary file, and imposes limits on its
<br>users when querying a large amount of data.
</p>
<p>
MySQL is a popular, large-scale database server that's easy to setup, and features lots of
<br>third-party support, expansive functionality for its users, and reads / writes data very
<br>quickly. Although, some functionalities get handled a bit less-reliably with MySQL than other
<br>RDBMSs, and MySQL does not adhere to SQL compliancy rules.
</p>
<p>
PostgreSQL is much more server-friendly, featuring high concurrency and the ability to deal
<br>with large datasets. Though, it does need to be set up and configured, which may pose as a
<br>nuisance toward someone wanting to use NECTOR out of the box. It features tons of bells and
<br>whistles, gearing it toward advanced RDBMS users.
</p>
<p>
Ideally, if you intend on hosting NECTOR on a public-facing server, MySQL or PostgreSQL should
<br>be your choice. Otherwise, if you're working locally or only dealing with a small amount of
<br>traffic, SQLite3 will work great.
</p>
<p><a href="https://www.digitalocean.com/community/tutorials/sqlite-vs-mysql-vs-postgresql-a-comparison-of-relational-database-management-systems">
    If you're still unsure which RDMBS you should use, checkout this DigitalOcean article.</a></p>

</div>
{% endif %}

<h2>Database</h2>
<p>Using {{db_type}} database.</p>
<a style="font-size:10px" href="/status/change-db/">Want to use a different database?</a>


<h2>Hosts</h2>
{% if hosts_installed %}
<p style="color:green">&#10004; Hosts found!</p>
{% else %}
<p style="color:lightcoral">&#10008; Hosts <b>NOT</b> found!</p>
<form style="display:inline-block" action="/status/setup-hosts/">
    <input type="submit" value="Setup">
</form>
<form style="display:inline-block" action="/status/skip-hosts/">
    <input type="submit" value="Skip">
</form>
{% endif %}

<h2>Ports</h2>
{% if ports_installed %}
<p style="color:green">&#10004; Ports found!</p>
{% else %}
<p style="color:lightcoral">&#10008; Ports <b>NOT</b> found!</p>
<form style="display:inline-block" action="/status/setup-ports/">
    <input type="submit" value="Setup">
</form>
<form style="display:inline-block" action="/status/skip-ports/">
    <input type="submit" value="Skip">
</form>
{% endif %}

<h2>Events</h2>
{% if events_installed %}
<p style="color:green">&#10004; Events found!</p>
{% else %}
<p style="color:lightcoral">&#10008; Events <b>NOT</b> found!</p>
<form style="display:inline-block" action="/status/setup-events/">
    <input type="submit" value="Setup">
</form>
<form style="display:inline-block" action="/status/skip-events/">
    <input type="submit" value="Skip">
</form>
{% endif %}

<h2>Vulnerabilities</h2>
{% if vulns_installed %}
<p style="color:green">&#10004; Vulnerabilities found!</p>
{% else %}
<p style="color:lightcoral">&#10008; Vulnerabilities <b>NOT</b> found!</p>
<form style="display:inline-block" action="/status/setup-vulns/">
    <input type="submit" value="Setup">
</form>
<form style="display:inline-block" action="/status/skip-vulns/">
    <input type="submit" value="Skip">
</form>
{% endif %}

<h2>Malware Alerts</h2>
{% if malware_installed %}
<p style="color:green">&#10004; Malware Alerts found!</p>
{% else %}
<p style="color:lightcoral">&#10008; Malware Alerts <b>NOT</b> found!</p>
<form style="display:inline-block" action="/status/setup-malware/">
    <input type="submit" value="Setup">
</form>
<form style="display:inline-block" action="/status/skip-malware/">
    <input type="submit" value="Skip">
</form>
{% endif %}





</div>
{% endblock %}
