{% extends 'nector_home/base.html' %}

{% block content %}
<div class="content">

{% if installation_complete %}
<h1>NECTOR Installation Status: <span style="color:green">Complete</span></h1>
{% else %}
<h1>NECTOR Installation Status: <span style="color:lightcoral">Incomplete</span></h1>
{% endif %}

<h2>Hosts</h2>
{% if hosts_installed %}
<p style="color:green">&#10004; Hosts found!</p>
{% else %}
<p style="color:lightcoral">&#10008; Hosts <b>NOT</b> found!</p>
{% endif %}

<h2>Events</h2>
{% if events_installed %}
<p style="color:green">&#10004; Events found!</p>
{% else %}
<p style="color:lightcoral">&#10008; Events <b>NOT</b> found!</p>
{% endif %}

<h2>Vulnerabilities</h2>
{% if vulns_installed %}
<p style="color:green">&#10004; Vulnerabilities found!</p>
{% else %}
<p style="color:lightcoral">&#10008; Vulnerabilities <b>NOT</b> found!</p>
{% endif %}

<h2>Malware Info</h2>
{% if malware_installed %}
<p style="color:green">&#10004; Malware Info found!</p>
{% else %}
<p style="color:lightcoral">&#10008; Malware Info <b>NOT</b> found!</p>
{% endif %}

<h2>Database</h2>
<p>Using {{db_type}} database!</p>

</div>
{% endblock %}
